html {
    font-size: 15px;
    font-family: "Outfit", sans-serif;

    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --container-width: 320px;
}

body {
    background-color: var(--light-gray);
    height: 100vh;
    margin: 0;
}

.container {
    width: var(--container-width);
    box-sizing: border-box; 
    margin: auto;
    padding: 16px;
    background-color: var(--white);
    border-radius: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 4.77%) 0 25px 25px);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

img {
    width: 100%;
    border-radius: 20px;
}

.text-container {
    margin: 24px 0;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.heading {
    font-size: 22px;
    font-weight: bold;
    color: var(--dark-blue);
}

.paragraph {
    max-width: 256px;
    color: var(--grayish-blue);
}